.c-upload--wrapper {
  --dropzone-color: 191, 191, 191;

  * {
    font-family: Inter;
  }

  .c-upload--dropzone {
    width: 100%;
    gap: 0.5rem;
    border-radius: 12px;
    background-color: rgba(var(--dropzone-color), 0.08);
    border: 1px dashed rgba(var(--dropzone-color), 0.8);
    cursor: pointer;

    &.error {
      --dropzone-color: 241, 36, 36;
    }

    &.drag-enter {
      --dropzone-color: 18, 213, 18;
    }

    .c-upload--content {
      width: 100%;
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      gap: 0.5rem;
      pointer-events: none;

      .c-upload--icon {
        max-width: 100px;
        pointer-events: none;
      }

      .c-upload--title {
        margin-top: 0.5rem;
        color: black;
        font-weight: 600;
        font-size: 1.125rem;
        pointer-events: none;
      }

      .c-upload--description {
        color: #637381;
        font-size: 0.875rem;
        font-weight: 500;
        pointer-events: none;
      }
    }

    .c-upload--single-preview {
      padding: 0.5rem;
      border-radius: inherit;
      overflow: hidden;
      position: relative;

      .c-upload--preview-box {
        position: relative;
        aspect-ratio: 16/9;
        border-radius: inherit;

        img.c-upload--preview-image {
          border-radius: inherit;
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .c-upload--preview-backdrop {
          position: absolute;
          inset: 0;
          border-radius: inherit;
          transition: all 0.2s ease-in-out;

          .c-upload--preview-actions {
            position: absolute;
            display: inline-flex;
            gap: 0.25rem;
            top: 10px;
            right: 10px;
            z-index: 1;
            opacity: 0;
            transition: all 0.3s ease-in-out;

            .MuiIconButton-root {
              color: white;
              background-color: #c5c5c580;
            }
          }

          &:hover {
            background-color: #3c3c3c72;
            .c-upload--preview-actions {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .c-upload--multiple-preview {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;

    .c-upload--preview-box {
      border-radius: 6px;
      aspect-ratio: 1/1;
      position: relative;
      height: 80px;
      width: 80px;

      &.trigger-animation {
        animation: remove-image 500ms ease forwards;
      }

      .c-upload--preview-image {
        position: absolute;
        border-radius: inherit;
        inset: 0;
        height: 100%;
        width: 100%;
      }

      .c-upload--preview-backdrop {
        position: absolute;
        inset: 0;
        border-radius: inherit;
        transition: all 0.2s ease-in-out;

        .c-upload--preview-actions {
          position: absolute;
          display: inline-flex;
          gap: 0.25rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 1;
          opacity: 0;
          transition: all 0.3s ease-in-out;

          .MuiIconButton-root {
            color: white;
            background-color: #c5c5c580;
            font-size: 1rem;
            padding: 0.25rem;
            .MuiSvgIcon-root {
              font-size: inherit;
            }
          }
        }

        &:hover {
          background-color: #3c3c3c72;
          .c-upload--preview-actions {
            opacity: 1;
          }
        }
      }
    }
  }
}

@keyframes remove-image {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  30% {
    transform: translateY(10px, -40px);
  }
  100% {
    opacity: 0;
    transform: translate(30px, -60px) rotate(25deg);
  }
}
