#c-header {
  height: var(--mui-header-height);
  background-color: transparent;
  box-shadow: none;
  color: black;

  &.scroll-out-top {
    backdrop-filter: blur(6px);
    background-color: rgba(255 255 255 / 0.7);
  }
}
