@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", serif;
  // font-family: "Inter", sans-serif;

  scrollbar-color: rgba(145 158 171 / 0.4) rgba(145 158 171 / 0.08);
}

ul,
ol {
  list-style: none;
}

a,
li {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

// ::-webkit-scrollbar {
//   width: 10px;
//   height: 12px;
// }

// ::-webkit-scrollbar-thumb {
//   background: rgba(0, 0, 0, 0.105);
//   border-radius: 4px;
// }

// ::-webkit-scrollbar-track {
//   background: rgba(242, 242, 242, 0.5);
// }
