.c-header--profile-container {
  $first-profile-bgcolor: #1de52a;
  $second-profile-bgcolor: rgb(220, 220, 220);
  $third-profile-bgcolor: #f47b25;

  overflow: hidden;
  border-radius: 100%;
  padding: 1px;
  .c-header--profile-background {
    animation: rotateBackground 5s linear infinite;
    background: linear-gradient(
      90deg,
      $first-profile-bgcolor,
      $second-profile-bgcolor,
      $third-profile-bgcolor
    );
  }
}

@keyframes rotateBackground {
  to {
    transform: rotate(360deg);
  }
}
