$border-radius: 6px;

.c-tabs--wrapper {
  border-radius: $border-radius;
  background-color: rgb(237, 237, 237);
  padding: 4px;
  display: inline-block;

  .c-tabs--container {
    display: inline-flex;
    position: relative;
    flex-direction: row;

    .c-tabs--pannel {
      padding: 6px 10px;
      border-radius: $border-radius;
      font-family: Inter;
      font-size: 0.875rem;
      font-weight: 500;
      z-index: 2;
      cursor: pointer;
      user-select: none;
    }

    .c-tabs--indicator {
      z-index: 1;
      background-color: white;
      border-radius: $border-radius;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px 0px;
      top: 0;
      bottom: 0;
      position: absolute;
      transition: all 0.3s ease-in-out;
    }
  }
}
