.c-navigation--nav-li {
  .c-navigation--nav-item {
    width: 100%;
    min-height: var(--mui-sidebar-item-height);
    display: inline-flex;
    align-items: center;
    border-radius: var(--mui-sidebar-item-borderRadius);
    padding: var(--mui-sidebar-item-padding);
    cursor: pointer;

    color: var(--mui-sidebar-item-colors-main);
    &:hover {
      background-color: var(--mui-sidebar-item-colors-hoverBg);
    }
    &.active {
      color: var(--mui-sidebar-item-colors-active);
      background-color: var(--mui-sidebar-item-colors-activeBg);
      &:hover {
        background-color: var(--mui-sidebar-item-colors-activeBgHover);
      }
    }

    .c-navigation--nav-icon {
      margin-right: 12px;
      height: 24px;
      width: 24px;
      color: inherit;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    .c-navigation--nav-text {
      flex: 1;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }

  .c-navigation--sub-list {
    overflow: hidden;
    gap: 4px;
    padding-left: var(--mui-sidebar-subList-linePadding);
    display: flex;
    flex-direction: column;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      bottom: calc(var(--mui-sidebar-item-heightSub) / 2 + 6px);
      width: 2px;
      background-color: var(--mui-sidebar-subList-lineColor);
    }

    .c-navigation--nav-li {
      display: inline-block;
      &:first-of-type {
        margin-top: 4px;
      }

      .c-navigation--nav-item.sub-item {
        min-height: var(--mui-sidebar-item-heightSub);
        position: relative;
        font-size: 0.875rem;
        &.active {
          &::before {
            content: "";
          }
        }

        &::before {
          position: absolute;
          // content: ""; //note: Item active to show this (Line: 77)
          left: 0;
          border-bottom-left-radius: 10px;
          border-left: 2px solid var(--mui-sidebar-subList-lineColor);
          border-bottom: 2px solid var(--mui-sidebar-subList-lineColor);
          width: var(--mui-sidebar-subList-linePadding);
          height: var(--mui-sidebar-item-heightSub);
          transform: translate(
            calc(-1 * var(--mui-sidebar-subList-linePadding)),
            -45%
          );
          background-color: transparent;
        }
      }
    }
  }

  &[disabled] {
    pointer-events: none;
    user-select: none;

    .c-navigation--nav-item {
      color: var(--mui-palette-text-disabled);
    }
  }
}
