.c-navigation--nav-li {
  .c-navigation--nav-item {
    width: 100%;
    min-height: 44px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    padding: 4px 8px 4px 12px;
    cursor: pointer;

    color: #637381;
    &:hover {
      background-color: rgba(145 158 171 / 0.08);
    }

    &.active {
      color: #00a76f;
      background-color: rgba(0, 167, 111, 0.08);
      &:hover {
        background-color: rgba(0 167 111 / 0.16);
      }
    }

    .c-navigation--nav-icon {
      margin-right: 12px;
    }

    .c-navigation--nav-text {
      flex: 1;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }
}
