.c-navigation--wrapper {
  flex: 1;

  .scrollbar-track {
    background-color: transparent;
  }
  .scrollbar-thumb {
    background-color: #919eab7a;
  }

  &:hover {
    .scrollbar-track.scrollbar-track-y {
      opacity: 1;
    }
  }

  .c-navigation--section {
    padding-inline: 16px;
    flex: 1;

    .c-navigation--nav-ul {
      display: flex;
      flex-direction: column;
    }
  }
}
