.marquee {
  --gap: 1rem;
  gap: var(--gap);
  user-select: none;

  .marquee--content {
    gap: var(--gap);
    justify-content: space-around;
    animation: marquee 60s linear infinite;
    &.reverse {
      animation-direction: reverse;
    }

    .marquee--item {
      will-change: transform;
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
